.content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.rect__one {
    position: relative;
}

.rect__one-black {
    height: 512px;
    width: 512px;
    background-color: black;
}

.rect__one-diia {
    position: absolute;
    top: 25%;
    left: 20%;
}

.rect__one-flag {
    position: absolute;
    bottom: 22%;
    left: 42%;
}

.rect__two {
    position: relative;
}

.rect__two-blue {
    height: 256px;
    width: 512px;
    background-color: #2137FC;
}

.rect__two-yellow {
    height: 256px;
    width: 512px;
    background-color: #FFCE22;
}

.rect__two-wave {
    position: absolute;
    left: 12%;
    top: 28%;
}

.rect__three {
    position: relative;
    padding: 34px;
}

.rect__three-radius {
    border-radius: 222px;
    overflow: hidden;
}

.rect__three-blue {
    height: 222px;
    width: 444px;
    background-color: #2137FC;
}

.rect__three-yellow {
    height: 222px;
    width: 444px;
    background-color: #FFCE22;
}

.rect__three-wave {
    position: absolute;
    left: 12%;
    top: 50%;
}
